{% extends 'empleados/base.html' %}

{% load static %}

{% block content %}
<!-- Page Sidebar Ends-->
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script> <!-- Actualizar versión -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.1.0/fontfaceobserver.standalone.min.js"></script> <!-- Cargar FontFaceObserver -->

<style>
  /* Estilos previos no modificados */
  text {
    font-family: 'League Spartan', sans-serif;
  }

  body {
    font-family: 'Encode Sans', sans-serif;
  }

  svg text {
    position: absolute;
  }

  /* Estilos específicos para impresión */
  @media print {
    body {
      font-family: 'Encode Sans', sans-serif;
      margin: 0;
      padding: 0;
      background-color: white;
    }

    .page-body {
      display: block;
      background-color: white;
    }

    .container-fluid, .edit-profile, .card {
      width: 100%;
      height: auto;
      background-color: white;
    }

    .logotipos {
      display: none;
    }

    button {
      display: none;
    }

    .gafetes-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      page-break-inside: avoid; /* Evitar que los gafetes se dividan entre páginas */
    }

    .gafete {
      width: 645px;
      height: 1004px;
      page-break-after: always; /* Asegura que cada gafete se imprima en una página separada */
    }
  }

  /* Estilos del botón "Imprimir Gafete" */
  #print-button {
    display: block;
    margin: 5px auto;
    padding: 12px 25px;
    background-color: #20056d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #print-button:hover {
    background-color: #7445a0;
  }

  /* Centrar el botón debajo del gafete */
  .gafete {
    margin-bottom: 20px;
  }
</style>

<div class="page-body">
  <div class="container-fluid">
    <div class="edit-profile">
      <div class="row">
        <!-- Contenedor para gafetes -->
        <div class="gafetes-container">
          <!-- Primer Gafete -->
          <div class="col-xl-6 gafete">
            <div class="card" style="width: 645px; height: 1004px;">
              <div class="card-body gafete-card" id="gafete" style="width: 645px; height: 1004px;">
                <div class="gafete-header" style="align-items: center;">
                  {% if empleado.imagen %}
                    <img src="{{ empleado.imagen.url }}" alt="Imagen del empleado" width="40%" height="auto" class="gafete-img">
                  {% else %}
                    <p>No hay imagen cargada</p>
                  {% endif %}
                </div>
                <div>
                  <!-- Información del empleado en contenedor SVG para manipulación de texto -->
                  <svg width="600" height="1004">
                    <text x="50" y="210" font-family="Encode Sans" font-size="30" fill="#182b55">{{ empleado.nombres }}</text>  
                    <text x="50" y="265" font-family="Encode Sans" font-size="45" font-weight="bold" fill="#182b55">{{ empleado.apellidos }}</text>  
                    <text x="50" y="445" font-family="Encode Sans" font-size="32" fill="#182b55">{{ empleado.tipoc }}</text>  
                    <text x="50" y="342" font-family="Encode Sans" font-size="30" fill="#182b55">No. de Identificación:</text>  
                    <text x="50" y="382" font-family="Encode Sans" font-size="30" font-weight="bold" fill="#182b55">DPI:{{ empleado.dpi }}  </text> 
                    {% if not request.user.is_authenticated %}
                      <text x="180" y="675" font-family="League Spartan" font-size="35"><tspan fill="#ffffff">Estado: {% if empleado.activo %}Activo{% else %}Inactivo{% endif %}</tspan></text>  
                    {% endif %}
                  </svg>

                  <!-- Mostrar el código QR -->
                  {% if empleado.qr_code %}
                    <div class="qr-code">
                      <img src="{{ empleado.qr_code.url }}" alt="Código QR">
                    </div>
                  {% endif %}

                  <!-- Incluir logotipos directamente en el canvas -->
                  <div class="logotipos">
                    {% if configuracion.logotipo %}
                      <div class="logotipo">
                        <img src="{{ configuracion.logotipo.url }}" alt="Logotipo 1">
                      </div>
                    {% endif %}
                    {% if configuracion.logotipo2 %}
                      <div class="logotipo">
                        <img src="{{ configuracion.logotipo2.url }}" alt="Logotipo 2">
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Segundo Gafete -->
          <div class="col-xl-6 gafete">
            <div class="card" style="width: 645px; height: 1004px;">
              <div class="card2-body gafete-card" id="gafete-2" style="width: 645px; height: 1004px;">
                <div>
                  <svg width="600" height="1004">
                    <text x="70" y="900" font-family="Encode Sans" font-size="30" font-weight="bold" fill="#182b55">
                      Válido hasta el {{ empleado.fecha_vencimiento|date:"d F Y" }}
                    </text>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if user.is_authenticated %}
  <button id="print-button" onclick="window.print()">Imprimir Gafete</button>

  <div style="display: flex; gap: 10px; justify-content: center; margin-top: 20px;">
    <button id="download-gafete-button" onclick="downloadGafete()" style="padding: 12px 25px; background-color: hsl(251, 94%, 26%); color: white; border: none; border-radius: 5px; font-size: 18px; cursor: pointer;">Descargar Gafete</button>
    <button id="download-gafete-2-button" onclick="downloadGafete2()" style="padding: 12px 25px; background-color: #180269; color: white; border: none; border-radius: 5px; font-size: 18px; cursor: pointer;">Descargar Gafete 2</button>
  </div>
{% endif %}

<script>
  function downloadGafete() {
    var element = document.getElementById('gafete');
    
    html2canvas(element, {
      useCORS: true,
      width: 645,
      height: 1004,
      backgroundColor: null,
      scale: 4 // Aumenta la escala a 3 para mejorar la resolución
    }).then(function(canvas) {
      var link = document.createElement('a');
      link.href = canvas.toDataURL('image/jpeg');
      link.download = 'gafete.jpg';
      link.click();
    });
  }

  function downloadGafete2() {
    var element = document.getElementById('gafete-2');
    
    html2canvas(element, {
      useCORS: true,
      width: 645,
      height: 1004,
      backgroundColor: null,
      scale: 4 // Aumenta la escala a 3 para mejorar la resolución
    }).then(function(canvas) {
      var link = document.createElement('a');
      link.href = canvas.toDataURL('image/jpeg');
      link.download = 'gafete-2.jpg';
      link.click();
    });
  }
</script>

<style>
  .card-body {
    position: relative;
    background: url('{% static 'assets/svg/empleado.svg' %}') no-repeat center center;
    background-size: cover;
  }

  .card2-body {
    position: relative;
    background: url('{% static 'assets/svg/empleado2.svg' %}') no-repeat center center;
    background-size: cover;
  }

  .qr-code {
    position: absolute;
    top: 577px; 
    left: 400px; 
    z-index: 10;
  }

  .qr-code img {
    width: 220px;
    height: 220px;
  }

  .gafete-img {
    position: relative;
    top: 90px;
    left: 90px;
    border-radius: 50%;
    width: 288px;
    height: 288px;
  }

  .logotipos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: absolute;
    top: 780px;
    left: 10px;
  }

  .logotipo {
    text-align: center;
    position: relative;
    top: 10;
    left: 50;
  }

  .logotipo img {
    max-width: 250px;
    height: auto;
    transform: translateX(30px) translateY(50px);
  }
</style>

{% endblock %}
