{% extends 'scompras/base.html' %}
{% load static %}
{% block content %}

<!-- Cargar jQuery -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<!-- Cargar Calendar js -->
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>

<div class="page-body">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-6">
          <h4 class="card-title mb-0">{% if form.instance.pk %}Editar Departamento{% else %}Crear Departamento{% endif %}</h4>
        </div>
        <div class="col-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">
                <svg class="stroke-icon">
                  <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                </svg></a></li>
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">Departamento</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="edit-profile">
      <div class="row">
        <!-- Formulario de creación de departamento -->
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header">
              <!-- Puedes agregar un título aquí si lo deseas -->
            </div>
            <div class="card-body">
              <!-- Mostramos los mensajes de éxito o error si existen -->
              {% if messages %}
              <ul>
                {% for message in messages %}
                <li class="message">{{ message }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              {% if form.errors %}
              <div class="alert alert-danger">
                <ul>
                  {% for field, errors in form.errors.items %}
                  <li><strong>{{ field }}:</strong> {{ errors|join:', ' }}</li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
              
              <!-- Formulario para crear o editar un departamento -->
              <form method="POST">
                {% csrf_token %}
                
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.id_departamento.id_for_label }}">ID Departamento</label>
                            {{ form.id_departamento }}
                        </div>
                    </div>
        
                    <!-- Columna 2 -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.nombre.id_for_label }}">Nombre</label>
                            {{ form.nombre }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Columna 3 -->
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="{{ form.descripcion.id_for_label }}">Descripción</label>
                            {{ form.descripcion }}
                        </div>
                    </div>
                        <!-- Columna 3 -->
    <div class="col-md-2">
        <div class="form-group">
            <label for="{{ form.abreviatura.id_for_label }}">Abreviatura</label>
            {{ form.abreviatura }}
        </div>
    </div>
                </div>




                
                <br>
                <div class="form-footer text-end">
                  <button class="btn btn-primary" type="submit">
                    {% if form.instance.pk %}Actualizar Departamento{% else %}Crear Departamento{% endif %}
                  </button>
                </div>
              </form>

              <!-- Tabla para mostrar los departamentos creados -->
              <div class="mt-4">
                <h5>Departamentos Creados</h5>
                <div class="table-responsive custom-scrollbar">
                  <table class="display" id="basic-9">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Abreviatura</th>
                        <th>Descripción</th>
                        <th>Fecha de Creación</th>
                        <th>Fecha de Actualización</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for departamento in departamentos %}
                      <tr>
                        <td>{{ departamento.id_departamento }}</td>
                        <td>{{ departamento.nombre }}</td>
                        <td>{{ departamento.abreviatura }}</td>
                        <td>{{ departamento.descripcion }}</td>
                        <td>{{ departamento.fecha_creacion }}</td>
                        <td>{{ departamento.fecha_actualizacion }}</td>
                        <td> 
                          <a href="{% url 'scompras:editar_departamento' departamento.id %}" class="btn btn-primary btn-sm">Editar</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Abreviatura</th>
                        <th>Descripción</th>
                        <th>Fecha de Creación</th>
                        <th>Fecha de Actualización</th>
                        <th>Acciones</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock %}