<!-- detalle_factura.html -->
<h1>Detalle de la Factura</h1>

<p><strong>Número de Factura:</strong> {{ factura.numero_factura }}</p>
<p><strong>Proveedor:</strong> {{ factura.proveedor.nombre }}</p>
<p><strong>Orden de Compra:</strong> {{ factura.orden_compra }}</p>
<p><strong>NIT del Proveedor:</strong> {{ factura.nit_proveedor }}</p>
<p><strong>Nombre del Proveedor:</strong> {{ factura.proveedor_nombre }}</p>
<p><strong>Teléfono del Proveedor:</strong> {{ factura.telefono_proveedor }}</p>
<p><strong>Dirección del Proveedor:</strong> {{ factura.direccion_proveedor }}</p>
<p><strong>Patente:</strong> {{ factura.patente }}</p>
<p><strong>Fecha de la Factura:</strong> {{ factura.fecha_factura }}</p>
<p><strong>Fecha de Ingreso:</strong> {{ factura.fecha_ingreso }}</p>
<p><strong>Serie:</strong> {{ factura.numero_serie_completo }}</p>
